# dependencies
/node_modules
/packages/**/node_modules
/playgrounds/**/node_modules

# testing
/coverage
/packages/**/coverage
/playgrounds/**/coverage

# yarn
**/.yarn/cache
**/.yarn/*state*

# logs
logs
*.log
/packages/**/*.log
/playgrounds/**/logs
/playgrounds/**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.iml
.idea
.DS_Store
.fleet
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pem
.temp
.tmp
.cache
Thumbs.db

# production
/dist
/packages/**/dist
/playgrounds/**/dist
/playgrounds/**/.cache
/playgrounds/**/.nitro
/playgrounds/**/.nuxt
/playgrounds/**/.data
/playgrounds/**/.output
docs/.vitepress/dist
docs/.vitepress/cache

# TypeScript
*.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/playgrounds/**/.env
/playgrounds/**/.env.local
/playgrounds/**/.env.development.local
/playgrounds/**/.env.test.local
/playgrounds/**/.env.production.local
!/playgrounds/**/.env.local.example

# testing
reports
coverage
*.lcov
.nyc_output

# vercel
.vercel

# nuxt
.output
.data
.nuxt
.nitro
dist
.vercel_build_output
.build-*
.netlify

.todo.md
/@tmp
